
.scene {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  height: 100vh;
}

.cube {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-50vw);
  transition: transform 1s;
}

.face {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top:0; 
  left:0;
  background: url('../assets/images/tinfoil.jpg');
  transform: rotateY(0deg) translateZ(50vw);
}

.screen {
  top:0;
  left:0;
  position: absolute;
  padding:1em;
  box-sizing: border-box;
  display:flex;
  width:100vw;
  height:100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-top:-1em;
  }
}

.layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.img2x {
  width: 150px;
  height: auto;
}
