.progress {
  width:80%;
  background: transparent url('../assets/images/progress-bar.jpg') left top/cover no-repeat;
  overflow:hidden;
  position: relative;
  mix-blend-mode: multiply;

  &::before {
    content: '';
    display: block;
    width:100%;
    padding-top:56.2%;
  }

  .progress-fill {
    transition: all 7s $easeInCirc;
    position: absolute;
    top:0;
    height: 100%;
    width: 0%;
    background: transparent url('../assets/images/progress-full.jpg') left top/cover no-repeat;
  }

  &.fill .progress-fill {
    width: 100%;
  }
}

.cooking-screen__icon {
  display:block;
  padding-bottom: 1em;
  max-width: 20%;
  mix-blend-mode: hard-light;
}